/* line 4, ../sass/style.scss */
#charts .axis path {
  fill: none;
}
/* line 7, ../sass/style.scss */
#charts .axis line {
  stroke-width: 0.5px;
  stroke: black;
}
/* line 11, ../sass/style.scss */
#charts .axis text {
  font-weight: 100;
  font-size: 80%;
}
/* line 17, ../sass/style.scss */
#charts svg {
  outline: 1px dashed grey;
}
/* line 21, ../sass/style.scss */
#charts div {
  outline: 3px solid yellow;
}
/* line 23, ../sass/style.scss */
#charts div div {
  outline: 2px solid pink;
}
/* line 25, ../sass/style.scss */
#charts div div div {
  outline: 1px solid purple;
}
/* line 31, ../sass/style.scss */
#charts h3 {
  color: darkgrey;
  font-family: Bookman Old Style;
}
/* line 41, ../sass/style.scss */
#charts .viz path {
  fill: none;
  stroke-width: 0.5;
  stroke: grey;
  opacity: 0.2;
}
/* line 46, ../sass/style.scss */
#charts .viz path.unitedstates {
  stroke: #0079ae;
  stroke-width: 2;
  opacity: 1;
}
/* line 51, ../sass/style.scss */
#charts .viz path.unitedkingdom {
  stroke: #0098db;
  stroke-width: 2;
  opacity: 1;
}
/* line 56, ../sass/style.scss */
#charts .viz path.italy {
  stroke: #95cbee;
  stroke-width: 2;
  opacity: 1;
}
/* line 61, ../sass/style.scss */
#charts .viz path.japan {
  stroke: #c9e2f5;
  stroke-width: 2;
  opacity: 1;
}
/* line 66, ../sass/style.scss */
#charts .viz path.germany {
  stroke: #a2d292;
  stroke-width: 2;
  opacity: 1;
}
/* line 71, ../sass/style.scss */
#charts .viz path.spain {
  stroke: #63bc51;
  stroke-width: 2;
  opacity: 1;
}
/* line 101, ../sass/style.scss */
#charts .viz path.on {
  stroke-width: 3;
  opacity: 1;
}
/* line 105, ../sass/style.scss */
#charts .viz path.videotapeanddiscrental {
  stroke: #ee3a43;
}

/* line 119, ../sass/style.scss */
.tooltip {
  font-weight: 600;
  font-size: 130%;
  paint-order: stroke;
  stroke: white;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
