/* line 4, ../sass/style.scss */
#charts .axis path {
  fill: none;
}
/* line 7, ../sass/style.scss */
#charts .axis line {
  stroke-width: 0.5px;
  stroke: black;
}
/* line 11, ../sass/style.scss */
#charts .axis text {
  font-weight: 100;
  font-size: 80%;
}
/* line 17, ../sass/style.scss */
#charts svg {
  outline: 1px dashed grey;
}
/* line 21, ../sass/style.scss */
#charts div {
  outline: 3px solid yellow;
}
/* line 23, ../sass/style.scss */
#charts div div {
  outline: 2px solid pink;
}
/* line 25, ../sass/style.scss */
#charts div div div {
  outline: 1px solid purple;
}
/* line 31, ../sass/style.scss */
#charts h3 {
  color: darkgrey;
  font-family: Bookman Old Style;
}
/* line 42, ../sass/style.scss */
#charts .viz path {
  fill: none;
  stroke-width: 2;
  stroke: grey;
  opacity: 0.2;
}
/* line 48, ../sass/style.scss */
#charts .viz path.on {
  stroke-width: 3;
  opacity: 1;
}
/* line 54, ../sass/style.scss */
#charts .vertStream {
  /* - Narrow desktop view lg - */
  /* - iPad view md - */
  /* - Responsive view sm - */
  /* - Mobile view xs - */
}
/* line 60, ../sass/style.scss */
#charts .vertStream .viz {
  fill: black;
}
/* line 63, ../sass/style.scss */
#charts .vertStream .viz path {
  opacity: 0.5;
  stroke-width: 0;
}
/* line 66, ../sass/style.scss */
#charts .vertStream .viz path:hover {
  opacity: 1;
  stroke-width: 1;
  stroke: white;
}
/* line 75, ../sass/style.scss */
#charts .vertStream .northamerica {
  fill: #bb2b77;
}
/* line 78, ../sass/style.scss */
#charts .vertStream .southamerica {
  fill: #ee3a43;
}
/* line 81, ../sass/style.scss */
#charts .vertStream .europe {
  fill: #e2e3e4;
}
/* line 84, ../sass/style.scss */
#charts .vertStream .africa {
  fill: #ffd63d;
}
/* line 87, ../sass/style.scss */
#charts .vertStream .asia {
  fill: #63bc51;
}
/* line 90, ../sass/style.scss */
#charts .vertStream .australia {
  fill: #0098db;
}

/* line 100, ../sass/style.scss */
.tooltip {
  font-weight: 600;
  font-size: 130%;
  paint-order: stroke;
  stroke: white;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
