
#charts {
	.axis {
		path {
		  fill:none;
	  }
		line {
		   stroke-width: 0.5px;
		   stroke: black;
		}
		text {
			font-weight: 100;
			font-size: 80%;
		}
	}

	svg {
		outline: 1px dashed grey;
	}

	div {
		outline: 3px solid yellow;
		div {
			outline: 2px solid pink;
			div {
				outline: 1px solid purple;
			}
		}
	}

	h3 {
		color:darkgrey;
		font-family:Bookman Old Style;
	}

	.viz {

		$online: 5;
		$offline: 2;


		path {
			fill: none;
			stroke-width:$offline;
			stroke: grey;
			opacity: 0.2;

			&.on{
				stroke-width:3;
				opacity:1;
			}
		}
	}
	.vertStream {

		/* - Narrow desktop view lg - */
		/* - iPad view md - */
		/* - Responsive view sm - */
		/* - Mobile view xs - */
			.viz {
				//This here is just the default fill, better ones are set farther down
				fill:black;
				path {
					opacity:0.5;
					stroke-width:0;
					&:hover {
						opacity:1;
						stroke-width:1;
						stroke:white;
					}
				}
			}


			.northamerica {
				fill:#bb2b77
			}
			.southamerica {
				fill:#ee3a43
			}
			.europe {
				fill:#e2e3e4
			}
			.africa {
				fill:#ffd63d
			}
			.asia {
				fill:#63bc51
			}
			.australia {
				fill:#0098db
			}

		}
	}




.tooltip {
	font-weight: 600;
	font-size:130%;
    paint-order: stroke;
    stroke: white;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;

}
